* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
}
img {
  display: block;
}
ul, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.selected {
  background-color: hsl(209, 100%, 50%, 0.18);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

header .logo h1 {
  margin: 0;
  font-size: 2.25em;
  font-weight: 700;
}

header .logo .food {
  color: hsl(42, 100%, 50%);
}

header .logo .air {
  color: hsl(209, 100%, 50%);
}

header nav ul {
  display: flex;
  gap: 28px;
}

header nav ul li a {
  font-weight: 500;
  font-size: 1em;
}

header nav ul li a:hover {
  color: hsl(42, 100%, 50%);
}

.ro2 { margin-top: 5px; display: flex; gap: 5px; }
/* SECOND NAV BAR FOR MENU CUISINES WRAPPER*/
.nav-menu {
  width: 100%;
  max-width: 230px;
}

.nav-menu .cuisines-wrapper {
  padding: 5px 20px 10px 10px;
}

.nav-menu .cuisines {
  color: black;
  font-weight: 700;
  font-size: 1.25em;
  padding-left: 20px;
}

.cuisines-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cuisines-wrapper ul a {
  position: relative;
}

.cuisines-wrapper ul a .cuisine-icon{
  position: absolute;
  font-size: 18px;
  left: 16px;
}

.cuisines-wrapper ul a {
  padding: 10px 10px 10px 50px;
  border-radius: 10px;
}

.cuisines-wrapper ul a:hover {
  background-color: hsl(209, 100%, 50%, 0.18);
}


/* FOOD PRODUCTS */
.food-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));;
  gap: 10px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.food-products .card {
  border-radius: 10px;
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 262px;
  border: 1px solid hsl(0, 0%, 80%);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.food-products .card:hover {
  transform: scale(1.1);
}

.food-products .card .card-img {
  width: 100%;
  height: auto;
}

.food-products .card .card-img img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.food-products .card .card-details {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.food-products .card .card-details .ro1 .food-name{
  font-weight: 700;
  font-size: 1.125em;
}
.food-products .card .card-details .ro2 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.813em;
}

.color-gray {color: hsl(0, 0%, 40%);}