:root {
  --orange-300: hsl(39, 100%, 45%);
  --blue-300: hsl(240, 100%, 65%);
  --blue-350: hsl(240, 100%, 45%);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
}

header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .logo span {
  font-weight: 700;
}

header .profile-img {
  cursor: pointer;
}

.navbar {
  margin-top: 8px;
  width: 100%;
  max-width: 240px;
  padding: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar ul {
  list-style: none;
  padding: 10px 36px;
  margin: 0;
  border-radius: 6px;
}

.navbar ul:hover {
  background-color: hsl(0, 0%, 95%);
}

.navbar .menu, .navbar .inventory, .navbar .employee {
  position: relative;
}

.navbar .menu-icon, .navbar .inventory-icon, .navbar .employee-icon {
  position: absolute;
  fill: black;
  width: 24px;
  height: auto;
  top: 20%;
  left: 4%;
}

